name: Terraform EC2 Deployment

on:
  push:
    branches:
      - main  # Trigger this action on push to the main branch

jobs:
  terraform:
    name: Deploy EC2 using Terraform
    runs-on: ubuntu-latest  # Use Ubuntu for the job environment

    steps:
      # Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6  # Specify the Terraform version

      # Run Terraform init to initialize the Terraform directory
      - name: Terraform Init
        run: terraform init

      # Run Terraform validate to check if the code is correct
      - name: Terraform Validate
        run: terraform validate

  

      # Apply the Terraform plan (create the EC2 instance and security group)
      - name: Terraform Apply
        run: terraform apply -auto-approve  # Auto-approve to skip the confirmation step
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}   # AWS access key from secrets
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}  # AWS secret key from secrets
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}   # AWS region from secrets
